/cmake-build-debug-stm32/.cmake/api/v1/query/cache-v2
/cmake-build-debug-stm32/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-stm32/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-stm32/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-stm32/.cmake/api/v1/reply/cache-v2-2180f9967fd62236df71.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/cmakeFiles-v1-51d61e1ff45149de5cbd.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/codemodel-v2-4151e329363097abc5d0.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/directory-cmake.stm32cubemx-Debug-a874d3cc84b5982fda2e.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-25T08-18-29-0037.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-FFT-Debug-d675d120093548ac81d9.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-STM32_Drivers-Debug-a1be0983840e8c464b31.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/toolchains-v1-d30374e0223b00fe41c5.json
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Core/Src/system_stm32f1xx.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_cortex.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dma.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_exti.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash_ex.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio_ex.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_pwr.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc_ex.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_uart.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/cmake_install.cmake
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CMakeASMCompiler.cmake
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-stm32/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/gpio.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/main.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/stm32f1xx_hal_msp.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/stm32f1xx_it.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/syscalls.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/sysmem.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/usart.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/startup_stm32f103xb.s.obj
/cmake-build-debug-stm32/CMakeFiles/clean_additional.cmake
/cmake-build-debug-stm32/CMakeFiles/clion-Debug-STM32-log.txt
/cmake-build-debug-stm32/CMakeFiles/clion-environment.txt
/cmake-build-debug-stm32/CMakeFiles/cmake.check_cache
/cmake-build-debug-stm32/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug-stm32/CMakeFiles/rules.ninja
/cmake-build-debug-stm32/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-stm32/Testing/Temporary/LastTest.log
/cmake-build-debug-stm32/.ninja_deps
/cmake-build-debug-stm32/.ninja_log
/cmake-build-debug-stm32/build.ninja
/cmake-build-debug-stm32/cmake_install.cmake
/cmake-build-debug-stm32/CMakeCache.txt
/cmake-build-debug-stm32/compile_commands.json
/cmake-build-debug-stm32/FFT.elf
/cmake-build-debug-stm32/FFT.map
/.idea/.gitignore
/.idea/editor.xml
/.idea/FFT.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/cmake-build-debug-stm32/.cmake/api/v1/reply/codemodel-v2-c78a5d886f69f26589a6.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-25T13-40-03-0893.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-FFT-Debug-5314a4e115c7cd9216d2.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-STM32_Drivers-Debug-a5726f773072cabcf56e.json
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/fft.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/show_data.c.obj
/cmake-build-debug-stm32/.cmake/api/v1/reply/codemodel-v2-4d0cfb57d2880e1b83ac.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-25T15-55-26-0336.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-FFT-Debug-dd594f5d4a717ac5992f.json
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/window_table.c.obj
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-25T16-48-46-0330.json
/.idea/inspectionProfiles/profiles_settings.xml
/cmake-build-debug-stm32/.cmake/api/v1/reply/codemodel-v2-8a32a1226d2fef512c8d.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-25T17-58-39-0036.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-FFT-Debug-ee0dc7c5877956f1a6cd.json
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/key_press.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/zero_crossing_and_dft.c.obj
/.idea/FFT2.iml
/cmake-build-debug-stm32/.cmake/api/v1/reply/codemodel-v2-d5f0d2c155b2829019f2.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-25T20-39-59-0375.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-FFT-Debug-8f4cb45565a5d297e137.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-STM32_Drivers-Debug-1a5a1c59436d509714d4.json
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim_ex.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/tim.c.obj
/cmake-build-debug-stm32/.cmake/api/v1/reply/codemodel-v2-ed9e5a7cad6e7fb21a9f.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-26T04-43-23-0659.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-FFT-Debug-361ac18ff4647b50544c.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/target-STM32_Drivers-Debug-793fb00033d93ebccc62.json
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_i2c.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/font.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/i2c.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/oled.c.obj
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-26T05-37-39-0599.json
/cmake-build-debug-stm32/.cmake/api/v1/reply/index-2026-04-26T07-48-47-0867.json
/cache-v2-0ecc4e4c454ca48e12c5.json
/cmakeFiles-v1-233103c1d224f1e9db4c.json
/codemodel-v2-6a9a8c54a0f4786e857b.json
/index-2026-04-27T15-03-19-0399.json
/target-FFT-Debug-5e1bf74b72bbec167cdb.json
/target-STM32_Drivers-Debug-35e0fbcf0dc0dece3a51.json
/cmake-build-debug-stm32/.cmake/api/v1/reply
/cmake
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_adc.c.obj
/cmake-build-debug-stm32/cmake/stm32cubemx/CMakeFiles/STM32_Drivers.dir/__/__/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_adc_ex.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/adc.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/dma.c.obj
/cmake-build-debug-stm32/CMakeFiles/FFT.dir/Core/Src/voltage_in.c.obj
/.idea/.name
/.idea/FFT_moni.iml
